// only for mobile

// px2rem扩展应用 eg: px2rem(80,40,32,56)
// ip6: psd 750 x 1334 -> 1rem = 75px
// rem = clientWidth * dpr / 10;
@function px2rem($values...) {
    $tempList:();
    @for $i from 1 through length($values) {
        $value: nth($values, $i);
        $tempList:append($tempList, $value / 75 * 1rem);
    }
    @return $tempList;
}

// px2px, zoom@2
@mixin px2px($name, $px) {
    #{$name}: round($px / 2) * 1px;
    [data-dpr="2"] & {
        #{$name}: $px * 1px;
    }
    // for mx3
    [data-dpr="2.5"] & {
        #{$name}: round($px * 2.5 / 2) * 1px;
    }
    // for 小米note
    [data-dpr="2.75"] & {
        #{$name}: round($px * 2.75 / 2) * 1px;
    }
    [data-dpr="3"] & {
        #{$name}: round($px / 2 * 3) * 1px;
    }
    [data-dpr="3.5"] & {
        #{$name}: round($px / 2 * 3.5) * 1px;
    }
    // for 三星note4
    [data-dpr="4"] & {
        #{$name}: $px * 2px;
    }
}

[v-cloak]{
	visibility:hidden;
}

